body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

#input-el {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #AB09EB;
    margin-bottom: 4px;
    margin-top: 20px;
}

#number-el {
    width: auto;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #AB09EB;
    margin-bottom: 4px;
    margin-top: 20px;
    color: #8508B8;
}

#remove-itm input {
    width: 20px;
    box-sizing: border-box;
}

#remove-itm  {
    width: auto;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #AB09EB;
    margin-bottom: 4px;
    margin-top: 20px;
    color: #8508B8;
}

#remove-btn {
    background: white;
    color: #AB09EB;
    padding: 10px 20px;
    border: 1px solid #AB09EB;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 4px;
    margin-left: 14px;
}

#remove-btn:hover {
    background: #AB09EB;
    color: white;
    border: 1px solid #AB09EB;
}

form {
    display: flex;
    align-items: center;
    width: auto;
}

h1 {
    color: #8508B8;
    font-size: 20px;
}

button {
    background: #AB09EB;
    color: white;
    padding: 10px 20px;
    border: 1px solid #AB09EB;
    font-weight: bold;
}

button:hover {
    background: #8508B8;
    color: white;
    border: 1px solid #8508B8;
}

#delete-btn {
    background: white;
    color: #AB09EB;
}

#delete-btn:hover {
    background: #AB09EB;
    color: white;
}

ol {
    margin-top: 20px;
    padding-left: 20;
    color: #8508B8;
}

li {
    margin-top: 5px;
}

a {
    color: #AB09EB;
    text-decoration: none;
}

label {
    color: #8508B8;
}


